body{
margin:0;
padding:20px;
font-family:Arial;
background:linear-gradient(
135deg,
#0f172a,
#1e293b
);
color:white;
}

.header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.container{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.card{
background:rgba(
255,
255,
255,
0.08
);
padding:20px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.status-panel{
display:flex;
justify-content:space-around;
padding:15px;
margin-bottom:20px;
background:rgba(
255,
255,
255,
0.08
);
border-radius:20px;
}

.green{
width:15px;
height:15px;
background:#00ff7f;
border-radius:50%;
display:inline-block;
}

.red{
width:15px;
height:15px;
background:red;
border-radius:50%;
display:inline-block;
}

button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
margin:5px;
}

.scheme{
display:flex;
align-items:center;
justify-content:center;
flex-wrap:wrap;
gap:10px;
}

.tank{
padding:15px;
background:#2563eb;
border-radius:10px;
width:120px;
text-align:center;
}

.flow{
width:30px;
height:6px;
background:#00d4ff;
animation:move 1s linear infinite;
}

.pump{
width:80px;
height:80px;
background:#00aa55;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
}

.rotate{
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}

@keyframes move{

0%{
opacity:.2;
}

50%{
opacity:1;
}

100%{
opacity:.2;
}

}

canvas{
background:white;
border-radius:10px;
padding:10px;
}